@{
    ViewData["Title"] = "Movies List Page";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model List<Movie>


<div class="d-flex align-items-center justify-content-center narrower-screen">
    <div class="p-3 m-4 container-fluid narrower-screen panel-styling">
        <div class="card-body">
            <table class="table table-striped table-borderless panel-styling" style="width: 100%">
                <colgroup>
                    <col span="1" style="width: 5%" />
                    <col span="1" style="width: 45%" />
                    <col span="1" style="width: 10%" />
                    <col span="1" style="width: 20%" />
                    <col span="1" style="width: 10%" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="" scope="col">Id</th>
                        <th class="" scope="col">Name</th>
                        <th class="" scope="col">Year</th>
                        <th class="" scope="col">Director</th>
                        <th class="" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                    <tr>
                        <th scope="row">@movie.Id</th>
                        <td>@movie.Name</td>
                        <td>@movie.Year</td>
                        <td>@movie.Director</td>
                        <td>
                            <a class="button table-button" href="@Url.Action("Details", "Movie" , new { ID=movie.Id })">Update</a>
                        </td>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <a class="button table-button" href="@Url.Action("Delete", "Movie", new { ID = movie.Id })">Delete</a>
                            </td>
                        }
                        else
                        {
                    <td>
                        <a class="button table-button disabled-not-user" href="@Url.Action("Delete", "Movie", new { ID = movie.Id })">Delete</a>
                    </td>
                        }
                    </tr>
                    }

                    <tr>
                        <form method="post" asp-controller="Movie" asp-action="Create">
                        <td scope="row">
                        </td>
                        <td>
                            <input class="panel-styling input-field " type="text" value="" name="name" placeholder="Name" style="width: 100%"/>
                        </td>
                        <td>
                            <input class="panel-styling input-field " type="number" value="" name="year" placeholder="Year" style="width: 100%" />
                        </td>
                        <td>
                            <input class="panel-styling input-field " type="text" value="" name="director" placeholder="Director" style="width: 100%"/>
                        </td>
                        <td class="text-center" colspan="2">
                            <button class="button table-button px-5">Save</button>
                            <input type="hidden" value="" name="submit" />
                        </td>

                        </form>

                    </tr>
                </tbody>


            </table>
        </div>

    </div>

</div>




