@{
    ViewData["Title"] = "Movies List Page";
}

@model List<Movie>



<style>
    @@media only screen and (max-width: 768px) {
        .narrower-screen {
            display: block !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }
    ::placeholder {
        color: #ffc107;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #ffc107;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #ffc107;
    }
</style>


<div class="d-inline narrower-screen ">
    <div class="card p-3 m-4 container-fluid narrower-screen bg-dark">
        <div class="card-body">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th class=" text-warning" scope="col">Id</th>
                        <th class=" text-warning" scope="col">Name</th>
                        <th class=" text-warning" scope="col">Year</th>
                        <th class=" text-warning" scope="col">Director</th>
                        <th class=" text-warning" scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model)
                    {
                        <tr>
                            <th scope="row">@movie.Id</th>
                            <td>@movie.Name</td>
                            <td>@movie.Year</td>
                            <td>@movie.Director</td>
                            <td>
                                <a class="btn btn-primary px-3" href="@Url.Action("Details", "Movie" , new { ID=movie.Id })">Update</a>
                            </td>
                            <td>
                                <a class="btn btn-danger px-3" href="@Url.Action("Delete", "Movie" , new { ID=movie.Id })">Delete</a>
                            </td>
                        </tr>
                    }

                <tr>
                    <form method="post" asp-controller="Movie" asp-action="Create">
                    <td scope="row">
                    </td>
                    <td>
                        <input class="bg-secondary " type="text" value="" name="name" placeholder="Name"/>
                    </td>
                    <td>
                        <input class="bg-secondary " type="number" value="" name="year" placeholder="Year"/>
                    </td>
                    <td>
                        <input class="bg-secondary " type="text" value="" name="director" placeholder="Director"/>
                    </td>
                    <td colspan="2">
                        <button class="btn btn-success mb-2 px-4">Save</button>
                        <input type="hidden" value="" name="submit" />
                    </td>

                    </form>

                </tr>
                </tbody>


            </table>
        </div>

    </div>

</div>




